   <footer>
        <div class="social">
            <h5>Retrouvez nous sur</h5>
            <a href="https://www.facebook.com/Sarpgn-511631179015548" target="blank">
                <svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px"
                    viewBox="0 0 512 512"><!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                    <path class="st3"
                        d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z" />
                </svg>
            </a>
        </div>

        <div class="container">

            <div>
                <h4>Le sarpgn</h4>
                <ul>
                    <li><a href="https://sarpgn.fr/service-assurance-gendarmerie/decouvrir" target="blank">Découvrir</a>
                    </li>
                    <li><a href="https://sarpgn.fr/service-assurance-gendarmerie/recrutement"
                            target="blank">Recrutement</a></li>
                    <li><a href="https://sarpgn.fr/service-assurance-gendarmerie/candidats-a-l-embauche"
                            target="blank">Candidats à l'embauche</a></li>
                    <li><a href="https://sarpgn.fr/service-assurance-gendarmerie/nous-rendre-visite" target="blank">Nous
                            rendre visite</a></li>
                    <li><a href="https://sarpgn.fr/service-assurance-gendarmerie/nos-valeurs" target="blank">Nos
                            valeurs</a></li>
                    <li><a href="https://sarpgn.fr/service-assurance-gendarmerie/temoignages-clients" target="blank">Nos
                            assurés témoignent</a></li>
                    <li><a href="https://fr.calameo.com/books/001698032f2b9c2124b5b" target="blank">Lettre du SARPGN</a>
                    </li>
                </ul>
            </div>
            <div>
                <h4>vos conseillers</h4>
                <ul>

                    <li><a href="https://www.sarpgn.fr/vos-conseillers/devenir-client" target="blank">Vous souhaitez
                            devenir client ?</a></li>
                    <li><a href="https://www.sarpgn.fr/vos-conseillers/vous-etes-deja-client" target="blank">Vous êtes
                            déjà client ?</a></li>
                    <li><a href="https://www.sarpgn.fr/vos-conseillers/sur-le-terrain" target="blank">Les conseillers
                            sur le terrain</a></li>
                    <li><a href="https://sarpgn.fr/vos-conseillers/contact" target="blank">Demande de contact</a></li>
                </ul>
            </div>
            <div>
                <h4>les avantages</h4>
                <ul>
                    <li><a href="https://sarpgn.fr/avantages/programme-fidelite-carre-das" target="blank">Fidélité carré
                            d'as</a></li>
                    <li><a href="https://sarpgn.fr/avantages/parrainage" target="blank">Parrainage</a></li>
                    <li><a href="https://sarpgn.fr/avantages/club-services-auto" target="blank">Club Servies Auto</a>
                    </li>
                    <li><a href="https://sarpgn.fr/avantages/credit-auto-moto" target="blank">Club Auto-moto</a></li>
                </ul>
            </div>
            <div>
                <h4>gendarmes</h4>
                <ul>
                    <li><a href="https://sarpgn.fr/eleves-gendarmes">Élèves gendarmes</a></li>
                    <li><a href="https://sarpgn.fr/groupements-associations-gendarmes">Groupements et Associations</a>
                    </li>
                    <li><a href="https://sarpgn.fr/sante-famille">Assurances Santé et Famille</a></li>
                    <li><a href="https://sarpgn.fr/assurances-vehicules">Assurances Véhicules</a></li>
                    <li><a href="https://sarpgn.fr/assurances-habitation">Assurances Habitations</a></li>
                    <li><a href="https://sarpgn.fr/assurances-loisirs">Assurances Loisirs</a></li>
                </ul>
            </div>
        </div>

        <div class="legale">
            <a href="./asset/pages/mention_legales.html">Mention légale/SARPGN</a>
        </div>
    </footer>