/* HEADER */
.nav {
    position: fixed;
  width:100%;
    z-index: 1;
    header {
      background-color: var(--color-white);

      .bandeau {
        background: var(--color-blue);
        height: 3.5rem;
      }
      .container_header {
        @include flex-jcbetween-ai-center;
        padding: 1rem;
     
        .container_logo {
          @include flex-ai-center;
        }
      }
    }
  
    /* logo Classe pour le svg */
    .st0 {
      fill: var(--color-blue);
    }
  
    .st1 {
      fill: var(--color-orange);
    }
  
    .st2 {
      fill: var(--color-yellow);
    }
    .nav_menu {
      overflow: hidden;
      @include flex-jccenter;
      flex-direction: column;
      height: 100vh;
      position: absolute;
      top: 0;
      right: 0;
      background: var(--color-blue);
      transform: translateX(110%);
      transition: all 0.2s ease-in-out;
    }
  }
  
  .navbar__link {
    transform: translateX(101%);
    transition: all 0.1s ease-in-out;
  
    > a {
      @include flex-jccenter;
      margin: 8rem;
      font-size: var(--small-size);
      color: var(--color-card);
      transition: all 0.1s ease-in-out;
      text-align: center;
      &:hover {
        color: var(--color-yellow);
      }
    }
  }
  
  /* Menu Burger */
  .burger {
    display: block;
    position: relative;
    width: 45px;
    height: 40px;
    border: none;
    background: transparent;
    cursor: pointer;
    .bar {
      display: block;
      width: 45px;
      border-radius: 3px;
      height: 4px;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background: var(--color-blue);
      position: fixed;
    }
  }
  
  .bar::before,
  .bar::after {
    content: "";
    width: 45px;
    height: 4px;
    position: absolute;
    left: 0;
    background: var(--color-blue);
    transition: all 0.3s ease-in-out;
    z-index: 1;
  }
  .bar::before {
    transform: translateY(-12px);
  }
  .bar::after {
    transform: translateY(12px);
  }
  
  .show-nav .nav_menu {
    width: 25vw;
    height: 100vh;
    transform: translateX(0);
    position: fixed;
    z-index: 1;
    .navbar__link {
      transform: translateX(0);
    }
  }
  
  .show-nav .bar {
    width: 0;
    background: transparent;
    z-index: 1;
  }
  .show-nav .bar::before {
    transform: rotate(45deg);
    background: var(--color-card);
  }
  .show-nav .bar::after {
    transform: rotate(-45deg);
    background: var(--color-card);
  }
  /* Animations text nav burger */
  .show-nav .first {
    transition: all 0.2s ease-out;
  }
  .show-nav .second {
    transition: all 0.3s ease-out;
  }
  .show-nav .third {
    transition: all 0.4s ease-out;
  }
  .show-nav .four {
    transition: all 0.5s ease-out;
  }
  
  /*Mobile burger */
  
  @media screen and (max-width: 767.98px) {
    .navbar__link > a {
      margin: 5rem 0;
      font-size: --smalling-size;
    }
    .show-nav .nav_menu {
      width: 60vw;
      z-index: 1;
    }
    .show-nav .bar::before {
      z-index: 1;
    }
    .show-nav .bar::after {
      z-index: 1;
    }
  }
  