  <section class="main">

        <div class="container_mentions">
            <h2>Mention légales</h2>
            <div class="content">
                <h3>Éditeur</h3>
                <ul>
                    <li>SAS de courtage d'assurance au capital de 38 125 €.</li>
                    <li>Siège social : 3, rue Chanzy - 45000 Orléans</li>
                    <li>SIRET 331 928 101 - RCS Orléans</li>
                    <li>Immatriculation ORIAS : 07 002 214 (www.orias.fr)</li>
                    <li>Tél. : 02 38 24 05 06</li>
                    <li>Fax : 02 38 81 77 61</li>
                    <li>Adresse électronique : contact@sarpgn.fr</li>
                    <li>Filiale de la Mutuelle de Poitiers Assurances</li>
                    <li>Société d'assurance mutuelle à cotisations variables régie par le code des assurances.</li>
                </ul>
            </div>
            <div class="content">
                <h3>Directeur de la publication</h3>
                <p>Stéphane Désert, Président Directeur général de BARRUEL ET GIRAUD SAS.</p>
            </div>
            <div class="content">
                <h3>Responsable de la Rédaction</h3>
                <p>Philippe Bauvois, Directeur de BARRUEL ET GIRAUD SAS.</p>
            </div>
            <div class="content">
                <h3>Crédits photos</h3>
                <p>© LCP SIRPA Gendarmerie - Shutterstock - Fotolia - AdobeStock</p>
            </div>
            <div class="content">
                <h3>Conception et réalisation du site</h3>
                <p>Mutuelle de Poitiers Assurances
                    <br>Bois du Fief Clairet - BP 80000 - 86066 Poitiers cedex 9
                </p>
            </div>

            <div class="content">
                <h3>Hébergeur</h3>
                <ul>
                    <li>Le site internet est hébergé par La Mutuelle de Poitiers Assurances</li>
                    <li>Bois du Fief Clairet - BP 80000 - 86066 Poitiers cedex 9</li>
                    <li>Tél. : 05 49 37 49 37</li>
                    <li>Adresse électronique : accueil@mutuelledepoitiers.fr</li>
                </ul>
            </div>
            <div class="content">
                <h3>Propriété intellectuelle</h3>
                <p>A l’exception d’un usage personnel ou d’une autorisation préalable de la part de BARRUEL ET
                    GIRAUD
                    SAS - SARPGN, toute reproduction totale ou partielle de ce site ou de son contenu, y compris des
                    documents téléchargeables et des représentations iconographiques et photographiques, par
                    quelques
                    procédés que ce soient, est interdite au sens de l’article L.122-4 du Code de la propriété
                    intellectuelle.</p>
                <p>Les marques de BARRUEL ET GIRAUD SAS - SARPGN et de nos partenaires, figurant sur le site, sont
                    des
                    marques déposées. La reproduction, l’usage ou l’apposition de ces marques, sans l’autorisation
                    de
                    BARRUEL ET GIRAUD SAS - SARPGN ou de ses partenaires, est interdite au sens de l’article L.713-2
                    du
                    Code de la propriété intellectuelle.
                    Mise en garde sur les informations
                    BARRUEL ET GIRAUD SAS - SARPGN se réserve le droit de modifier sans préavis tout élément du
                    site.
                    Elle ne pourra être tenue pour responsable des conséquences directes ou indirectes pouvant
                    résulter
                    de l’utilisation, la consultation et l’interprétation des informations fournies, ni de la
                    modification des dispositions administratives, commerciales et juridiques.</p>
                <p>Les liens hypertextes insérés sur le site, en direction de sites internet extérieurs, ne
                    sauraient
                    engager la responsabilité de BARRUEL ET GIRAUD SAS - SARPGN.</p>
            </div>
            <div class="content">
                <h3>Charte d'utilisation des données personnelles</h3>
                <p>La MUTELLE DE POITIERS ASSURANCES, BARRUEL ET GIRAUD SAS - SARPGN garantissent de traiter les
                    données
                    à caractère personnel conformément à la réglementation européenne et française en matière de
                    protection des données personnelles, ainsi qu’aux recommandations et délibérations de la
                    Commission
                    Nationale de l’Informatique et des Libertés (CNIL).
                    La présente charte vous informe sur les engagements et mesures pris afin de veiller à la
                    protection
                    de vos données à caractère personnel qui sont traitées en votre qualité d’assuré, adhérent,
                    bénéficiaire, ayant-droits, témoins, payeur de cotisation, tiers victime….</p>
                <p>Cette charte traduit la volonté de la MUTUELLE DE POITIERS ASSURANCES et de BARRUEL ET GIRAUD SAS
                    -
                    SARPGN d’améliorer votre expérience en tant que client, notamment en proposant de nouveaux
                    services
                    digitaux performants et personnalisés, dans un cadre loyal et transparent.
                    Cliquez-ici pour en savoir plus : Consultation de la charte d'utilisation des données
                    personnelles.
                </p>
            </div>
            <div class="content">
                <h3>Conditions d’utilisations</h3>
                <p>En accédant à ce site, l'utilisateur s'engage à se conformer à ses conditions d'utilisation et
                    déclare disposer au préalable d'un accès Internet, en connaître les règles et les usages, les
                    capacités et performances techniques et disposer de tous matériels et logiciels nécessaires à la
                    navigation sur Internet.</p>
                <p>L'utilisateur est seul responsable de l'identité qu'il décline et des informations qu'il adresse.
                </p>
                <p>Toute utilisation de toute donnée réalisée à partir de l'adresse électronique de l'utilisateur
                    est
                    réputée avoir été réalisée par celui-ci.
                    Plusieurs cookies sont installés sur votre disque dur, lors de votre connexion sur le site de la
                    Mutuelle de Poitiers Assurances. Ces cookies sont de petits fichiers textes, qui ne peuvent pas
                    cacher de virus ou être exécutés. Ils ne contiennent pas de données personnelles.
                    Leur présence permet de :
                    - gérer correctement votre session de navigation
                    - mémoriser les paramètres d’affichage effectués sur le site
                    - recueillir des statistiques d’usage pour améliorer la qualité du site
                    Pour en savoir plus sur la technologie des cookies, vous pouvez consulter le dossier réalisé par
                    la
                    CNIL.
                    Voir plus d'informations sur la page "Cookies".</p>
            </div>
            <div class="content">
                <h3>Autorité de Contôle</h3>
                <p>Autorité de Contrôle Prudentiel et de Résolution - 4 place de Budapest CS 92459 75436 Paris Cedex
                    09.
                </p>
            </div>
            <div class="content">
                <h3>Traitement des réclamations</h3>
                <p>

                    En cas de difficulté ou de désaccord avec la réponse apportée par votre interlocuteur habituel,
                    vous
                    pouvez adresser une réclamation écrite à notre Service Juridique et Qualité.

                    - Soit par courrier à l’adresse : Barruel et Giraud - Service Juridique et Qualité - 3, rue
                    Chanzy -
                    45000 Orléans

                    - Soit par e-mail à l’adresse : qualite@sarpgn.fr.
                    Nous nous engageons à accuser réception de votre demande dans les 10 jours ouvrables à compter
                    de
                    son envoi, et à la transmettre dans les plus brefs délais au Service Qualité-Réclamations ou au
                    Service Client de notre partenaire d’assurance.

                    Une réponse définitive vous sera apportée dans un délai de deux mois à compter de la date
                    d’envoi de
                    votre réclamation.
                    Après réception de cette réponse définitive et en cas de désaccord persistant, vous pouvez
                    saisir
                    gratuitement le Médiateur de l’Assurance sur www.mediation-assurance.org ou par voie postale :
                    La
                    Médiation de l’Assurance – TSA 50110 – 75441 Paris cedex 9).

                    Cette procédure est réservée aux litiges des assurés particuliers, survenus dans le cadre d’un
                    contrat d’assurance (exclusion des litiges professionnels ou liés aux risques professionnels).
                </p>
            </div>
        </div>
    </section>